.first-table {
    width: 100%;
    border-collapse: collapse;
}

.first-table th, .first-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.first-table th:nth-child(1), .first-table td:nth-child(1) {
    width: 20%;
}
.first-table th:nth-child(2), .first-table td:nth-child(2) {
    width: 30%;
}
.first-table th:nth-child(3), .first-table td:nth-child(3) {
    width: 20%;
}
.first-table th:nth-child(4), .first-table td:nth-child(4) {
    width: 15%;
}
.first-table th:nth-child(5), .first-table td:nth-child(5) {
    width: 15%;
}

.second-table {
    width: 100%;
    border-collapse: collapse;
}

.second-table th, .second-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.second-table th:nth-child(1), .second-table td:nth-child(1) {
    width: 10%;
}
.second-table th:nth-child(2), .second-table td:nth-child(2) {
    width: 20%;
}
.second-table th:nth-child(3), .second-table td:nth-child(3) {
    width: 15%;
}
.second-table th:nth-child(4), .second-table td:nth-child(4) {
    width: 25%;
}
.second-table th:nth-child(5), .second-table td:nth-child(5) {
    width: 10%;
}
.second-table th:nth-child(6), .second-table td:nth-child(6) {
    width: 10%;
}
.second-table th:nth-child(7), .second-table td:nth-child(7) {
    width: 10%;
}